#gamePageBackground{
    background-size: cover;
    margin-right: -0.75rem;
    margin-left: -0.75rem;    
    margin-top: -2rem;
    border-radius: 1rem;
}

#gameCoverImg{
    border-radius: 1rem;
}